<div class="container">
  <form
    class="row g-3 needs-validation"
    novalidate
    (submit)="addNewProduct(addProductForm)"
    #addProductForm="ngForm"
  >
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        required
        name="name"
        ngModel
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <!--  -->
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Reference</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom02"
        required
        name="reference"
        ngModel
        #reference="ngModel"
      />
      <div
        [hidden]="reference.valid || reference.pristine"
        class="alert alert-danger"
      >
        Please choose a Reference
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Quantity</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input
          type="text"
          class="form-control"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          required
          name="quantity"
          ngModel
          #quantity="ngModel"
        />
        <div
          [hidden]="quantity.valid || quantity.pristine"
          class="alert alert-danger"
        >
          Please choose the product Quantity
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom05" class="form-label">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom05"
        required
        name="image"
        ngModel
        #image="ngModel"
      />
      <div
        [hidden]="image.valid || image.pristine"
        class="alert alert-danger"
      >
        Please choose the product Image Url
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">Category</label>
      <select
        class="form-select"
        id="validationCustom04"
        required
        name="categoryId"
        ngModel
      >
        <option *ngFor="let category of categoriesList" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <div class="invalid-feedback">Please select a valid Category</div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom03" class="form-label">Price</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        required
        name="price"
        ngModel
      />
      <div class="invalid-feedback">Please provide a valid Price.</div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea
          class="form-control"
          aria-label="With textarea"
          name="description"
          ngModel
        ></textarea>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Add Product</button>
    </div>
  </form>
</div>
